@import url('https://fonts.googleapis.com/css?family=Inter');

body {
    font-family: 'Inter';
    padding: 30px;
}

.title {
    text-align:center;
    margin-bottom: 20px;
    color: #046a3a;
    font-weight: 600;
}

table {
    width: 100%;
    max-width: 900px;
    margin: auto;
    border-collapse: collapse;
}

th {
    text-align:center;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
}

th.title {
    color: #046a3a;
    font-size: 1.5em;
}

th.subtitle {
    font-size: 1.1em;
}

td {
    vertical-align: top;
    padding: 15px;
    text-align: center;
    white-space: nowrap;
}

td.field {
    text-align: left;
}

/* force fixed width table columns */
/* th.subtitle:nth-child(1), td:nth-child(1) { width: 10%; }  Ranking */
/* th.subtitle:nth-child(2), td:nth-child(2) { width: 30%; }  Name */
/* th.subtitle:nth-child(3), td:nth-child(3) { width: 20%; }  Email */
/* th.subtitle:nth-child(4), td:nth-child(4) { width: 20%; }  Phone */
/* th.subtitle:nth-child(5), td:nth-child(5), */
/* th.subtitle:nth-child(6), td:nth-child(6) { width: 10%; text-align: center; } Action */

label {
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.required {
    color: red;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type="submit"] {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Inter';
    font-size: 1.1em;
    font-weight: bold;
    background-color: initial;
}

.cancel-button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    background-color: initial;
    border: none;
    color: black;
    display: inline-block;
    user-select: none;
    text-decoration: none;
    border: 2px solid black;
}

input[type="submit"]:hover,
.cancel-button:hover {
    background-color: #dadada;
    cursor: pointer;
}

.circle-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 37.5px;
    background-color: #046a3a;
    color: white;
    font-size: 24px;
    text-align: center;
    text-decoration: none; /* removes underline */
    border-radius: 50%; /* makes it a circle */
    border: none;
    text-align: center;
    font-family: 'Inter';
    font-size: 1.5em;
    font-weight: bold;
}

.circle-button:hover {
    background-color: #03814b; 
    cursor: pointer;
}


ul {
    list-style-type: none;
    text-align: center;
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
}

form select {
    padding: 8px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 1.1em;
}

.ranking-cell {
    width: 40px;
    text-align: center;
    white-space: nowrap;
}

.edit-button {
    font-size: 0.9em;
    padding: 4px 10px;
    background-color: #046a3a;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    display: inline-block;
    font-family: 'Inter', sans-serif;
}

.generate-button {
    font-size: 1.15em;
    padding: 8px 16px;
    background-color:#046a3a;
    color: white;
    border-radius: 4px;
    /* font-weight: 600; */
    text-decoration: none;
    text-align: center;
}

.edit-button:hover,
.generate-button:hover {
    background-color:#03814b;
    cursor: pointer;
}

.player-name {
    font-weight: bold;
    font-size: 1.2em;
}

.team-name {
    font-size: 0.9em;
    color: #575757;
}


.score {
    font-size: 1.4em;
    color: #046a3a;
    font-weight: bold;
}